<html>
<head>
<title>my website</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}">
</head>
<body>
<h1>Loay's website</h1>
<ul> 
	<il><a href="{{url_for('index')}}">home</a></il>
	<il><a href="{{url_for('about')}}">about</a></il>
	<il><a href="{{url_for('contact')}}">contact us</a></il>
</ul>

<h2>about me...</h2>
<p class="info">
hi my name is loay, some call me louie and i am sixteen year old, which means i am in the 11th grade.
I learn in Al Motran semenary and high school.</p>
<h2>hobbies</h2>
<p class="info">
I have alot of hobbies some are:
cycling
working out (I attend a gym 5 days a week)
Music: all kinds depends on my mood 
and online gaming with my friends

</body>
</html>